.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.card {
  width: 250px;
  height: 400px;
}
.card_image {
  width: 100%;
  height: 75%;
}
.card_image img {
  width: 100%;
  height: 100%;
}
.card_title {
  width: 100%;
  height: 15%;
}
.card_name {
  font-weight: 700;
  font-size: 18px;
}
.card_price {
  font-weight: 300;
  font-size: 18px;
}
.card_buttons {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
}

.hero {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.hero_info {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: start;
}
.hero_info h1 {
  font-weight: 700;
  font-size: 66px;
}
.hero_info p {
  font-weight: 300;
  font-size: 15px;
}
.hero_info button {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff2b44;
}
.hero_image {
  width: 50%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_image img {
  width: 100%;
  height: 60%;
}

.featured_category {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  margin: 50px 0;
  gap: 30px;
}
.featured_box1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.featured_box2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.featured_category h2 {
  font-weight: 700;
  font-size: 36px;
  color: #1a1a1a;
  margin: 15px 0;
}

.left_category1,
.right_category1 {
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.left_category1 {
  width: 50%;
}
.right_category1 {
  width: 40%;
}
.category_box_info1,
.category_box_image1 {
  height: 100%;
}
.category_box_image1 img {
  width: 100%;
  height: 100%;
}

.category_box_info1 h4 {
  font-weight: 300;
  font-size: 15px;
}
.category_box_info1 {
  width: 40%;
}

.category_box_info1 p {
  font-weight: 700;
  font-size: 24px;
}
.category_box_image1 {
  width: 55%;
}
.left_category2,
.right_category2 {
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.left_category2 {
  width: 40%;
}
.right_category2 {
  flex-direction: column;
  width: 50%;
}
.category_box_image2 {
  height: 30vh;
}
.category_box_image2 img {
  width: 100%;
  height: 100%;
}

.awesome_products {
  width: 100%;
  height: auto;
}
.awesome_products h3 {
  width: 700;
  font-size: 36px;
  color: #1a1a1a;
  margin: 25px 0;
}

.weeklySection {
  width: 100%;
  height: auto;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekly_image,
.weekly_info {
  height: 70vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weekly_image img {
  width: 60%;
  height: 60%;
}
.weekly_info h5 {
  font-weight: 700;
  font-size: 50px;
  color: #1a1a1a;
}
.weekly_info {
  flex-direction: column;
  gap: 20px;
}
.weekly_time {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekly_time_day,
.weekly_time_hours,
.weekly_time_minutes,
.weekly_time_seconds {
  height: 70%;
}
.weekly_time_day {
  width: 30%;
}
.weekly_time_hours {
  width: 17%;
}
.weekly_time_minutes,
.weekly_time_seconds {
  width: 20%;
}
.time_header {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #626363;
}
.time_num {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
}


.bestSellers {
  width: 100%;
  height: auto;
}
.bestSellers h3 {
  width: 700;
  font-size: 36px;
  color: #1a1a1a;
  margin: 25px 0;
}
.bestSellers {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bestCard {
  width: 250px;
  height: 400px;
}
.best_card_image {
  width: 100%;
  height: 75%;
}
.best_card_image img {
  width: 100%;
  height: 100%;
}
.best_card_title {
  width: 100%;
  height: 15%;
}
.best_name {
  font-weight: 700;
  font-size: 18px;
}
.best_price {
  font-weight: 300;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  .hero_image {
    display: none;
  }
  .hero_info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: start;
  }
  .featured_box1,
  .featured_box2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .weeklySection {
    flex-direction: column;
  }
  .weekly_image,
  .weekly_info {
    width: 100%;
  }
  .bestSellers {
   justify-content: center;
  }
}
